body
{
    color: antiquewhite;
    background-color: #1d2124;   
}
h1
{
    font-family: 'Permanent Marker', cursive;
    font-size: 4em;
    border-bottom: 1px solid black;

}
 h2
{
    color: darkorange;
    font-family: 'Courgette', cursive;
}
.anime-btn
{
    width: 150px;
}
.close-btn
{
    width : 20px;
}
img
{
    width: 90%;
    height: 100px;
}
.row, #main-row
{
    text-align: center;
}
#form-data, p
{
    text-align: left;
}

.gif-border
{
    border: 1px solid #121314;
    /* border: 1px solid white; */
}
#images-limit
{
    width: 60px;
}

.form-control-range {
	background-color: grey;
}
