body
{
    /* background-color: white; */
    /* color: black; */
    /* background-color: black; */
    color: antiquewhite;
    /* position: relative; */
}
.row
{
    /* position: absolute; */
}
#buttons-col
{
    width: 50%;
    position: relative;
    float: left;
    border: 1px solid black;
}

#gifs-col
{
    width: 550px;
    position: relative;
    float: right; 
}
img
{
width: 100px;
height: 150px;
}

#buttons-col
{
    width: 250px;
}

button
{
    width: 150px;
}
table
{
    border: none;
}